<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="PJK | Depth Cycle" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://depthcycle.surge.sh/splash.png" />
    <meta property="og:url" content="http://depthcycle.surge.sh" />
    <meta property="og:description" content="Three.js WebGL experiments and explorations by paul j karlik." />
  </head>
  <body>
  </body>
</html>

<!--
  Hello, my name is:     __     _    __              ___ __
      ____  ____ ___  __/ /    (_)  / /______ ______/ (_) /__
     / __ \/ __ `/ / / / /    / /  / //_/ __ `/ ___/ / / //_/
    / /_/ / /_/ / /_/ / /    / /  / ,< / /_/ / /  / / / ,<
   / .___/\__,_/\__,_/_/  __/ /  /_/|_|\__,_/_/  /_/_/_/|_|
  /_/                    /___/

  Depth Cycle -

  Post render GLSL fragment shader experiments using
  dynamically generated geometry and some simple applied
  algorithms. WebGL Platform is three.js and is imported
  and used with the help of the window global namespace.

  contact: https://github.com/pjkarlik
-->
